<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "Trip Matome", root_path, id: "logo" %>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
	<% if current_user %>
	<div id="signed_in_as">
	  <li>Signed in as <strong><%= current_user.nickname %></strong></li>
	</div>
	<% end %>
	<li><%= link_to "Home", root_path  %></li>
	<% if current_user %>
	<li><%= link_to "My account", account_path  %></li>
	<li><%= link_to "Sign out", logout_path, id: "sign_out" %></li>
	<% else %>
	<li><%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %></li>
	<% end %>
      </ul>
    </nav>
  </div>
</header>
